@font-face {
    font-family: 'Roboto';
    src: url('/assets/font/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Mooli';
    src: url('/assets/font/Mooli-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Nikumaru';
    src: url('/assets/font/nikumaru.otf') format('opentype');
}
@font-face {
    font-family: 'Mamelon';
    src: url('/assets/font/Mamelon4.woff2') format('woff2');
}
@font-face {
    font-family: 'YasashisaB';
    src: url('/assets/font/YasashisaB.ttf') format('truetype');
}
@font-face {
    font-family: 'HuiFont29';
    src: url('/assets/font/HuiFont29.ttf') format('truetype');
}
@font-face {
    font-family: 'MkPOP';
    src: url('/assets/font/851MkPOP_101.ttf') format('truetype');
}
@font-face {
    font-family: 'bananaslipplus';
    src: url('/assets/font/bananaslipplus.otf') format('opentype');
}
@font-face {
    font-family: 'katyou';
    src: url('/assets/font/katyou.ttf') format('truetype');
}
@font-face {
    font-family: 'TanukiMagic';
    src: url('/assets/font/TanukiMagic.ttf') format('truetype');
}
@font-face {
    font-family: 'hakidame';
    src: url('/assets/font/hakidame.TTF') format('truetype');
}
@font-face {
    font-family: 'umeboshi';
    src: url('/assets/font/umeboshi.ttf') format('truetype');
}
@font-face {
    font-family: 'Jiyucho';
    src: url('/assets/font/Jiyucho.otf') format('opentype');
}
@font-face {
    font-family: 'HitmoR';
    src: url('/assets/font/HitmoR.ttf') format('truetype');
}
@font-face {
    font-family: 'nishikiteki';
    src: url('/assets/font/nishikiteki.ttf') format('truetype');
}
@font-face {
    font-family: 'KTEGAKI';
    src: url('/assets/font/KTEGAKI.ttf') format('truetype');
}
@font-face {
    font-family: 'JKGL';
    src: url('/assets/font/JKGL.ttf') format('truetype');
}
@font-face {
    font-family: 'OhisamaFont';
    src: url('/assets/font/OhisamaFont.ttf') format('truetype');
}
@font-face {
    font-family: 'nukamiso';
    src: url('/assets/font/nukamiso.ttf') format('truetype');
}
@font-face {
    font-family: 'genkai';
    src: url('/assets/font/genkai.ttf') format('truetype');
}
@font-face {
    font-family: 'CP';
    src: url('/assets/font/CP.otf') format('opentype');
}
